<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Business.Properties.Settings>
            <setting name="Business_SPC_SPCDataCollectionTest" serializeAs="String">
                <value>http://10.164.54.82:8033/SPCDataCollectionTest.asmx</value>
            </setting>
            <setting name="Business_MES_LK_MES_LK_Integration_Services" serializeAs="String">
                <value>http://10.164.54.82:8081/MES_LK_Integration_Services.asmx</value>
            </setting>
        </Business.Properties.Settings>
    </applicationSettings>
</configuration>