<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-SPCDataCollecton-20160224142333;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SPCDataCollecton-20160224142333.mdf" />-->
    <add name="SqlConnectionstring" connectionString="Server =10.164.54.86;initial catalog=CYMYMES;uid=sa;pwd=1qaz@WSX3edc" providerName="System.Data.SqlClient" />
    <add name="InSqlConnectionstring" connectionString="Server =10.164.54.85;initial catalog=Runtime;uid=sa;pwd=1qaz@WSX3edc" providerName="System.Data.SqlClient" />
    <add name="SSqlConnectionstring" connectionString="Server =10.164.54.83;initial catalog=MYSPC;uid=sa;pwd=1qaz@WSX3edc" providerName="System.Data.SqlClient" />
    <add name="C2SqlConnectionstring" connectionString="Server =10.164.54.204\SQL2008R2;initial catalog=C2_Results;uid=sa;pwd=1111" providerName="System.Data.SqlClient" />
    <add name="OracleConnectionString" connectionString="data source=10.99.200.132/tsmesdb;user id=system;password=123;persist security info=False" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
